.khan__buy-link {
  display: flex;
  height: 42px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  text-decoration: none;
  opacity: 1;
  transition: .2s ease-out;
}

.khan__buy-link:hover {
  opacity: .6;
}